<!--<div class="playerWrapper">-->
    <div class="playControl">
        <div (click)="play()" [hidden] = isPlay >
            <i class="fa fa-play-circle" aria-hidden="true"></i>
        </div>
        <div (click)="pause()" [hidden] = !isPlay>
            <i class="fa fa-pause-circle" aria-hidden="true"></i>
        </div>
    </div>

    <div class="lengthSlider">
        <slider [amount] = currentTimePercent [buffered] = buffered (slide) = slideTime($event)></slider>
    </div>

    <div class="duration">
        <div>
            <span>{{currentTime}}</span>
            <span>{{duration}}</span>
        </div>
    </div>

    <input type="text" [(ngModel)] = audioSrc (change)="updateAudioSrc()">
<!--</div>-->
