body {
  margin: 0;
}

player {
  padding: 10px;
  display: block;
  height: 100px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #e1e3e6;
  background-color: #fafbfc;
  width: 100%;
  box-sizing: border-box;

  .playControl {
    font-size: 22px;
    color: #546fa3;
    float: left;
    width: 100px;
  }
}

slider {
  position: relative;
  width: auto;
  overflow: hidden;
  margin: 9px;
  height: 4px;
  display: block;
  background-color: #CACACA;

  .buffered {
    position: absolute;
    top: 0;
    background-color: #b8c7d7;
    height: 100%;
  }

  .amount {
    position: absolute;
    top: 0;
    background-color: #577ca1;
    height: 100%;
  }
}
