body {
  margin: 0;
}

player {
  padding: 10px;
  display: block;
  height: 100px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #e1e3e6;
  background-color: #fafbfc;
  width: 100%;
  box-sizing: border-box;

  .playControl {
    font-size: 22px;
    color: #546fa3;
    float: left;
    width: 100px;
  }
}

slider {
  width: auto;
  overflow: hidden;
  padding: 9px;
  height: 22px;
  display: block;
  box-sizing: border-box;

  .sliderWrapper {
    height: 4px;
    position: relative;
    background-color: #CACACA;

    .buffered {
      position: absolute;
      top: 0;
      background-color: #b8c7d7;
      height: 100%;
      transition: width 0.5s linear;
    }

    .amount {
      position: absolute;
      top: 0;
      background-color: #577ca1;
      height: 100%;
      transition: width 0.5s linear;
    }
  }

  &:hover {
    .sliderWrapper {
      .handler {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #577ca1;
        position: absolute;
        top: -3px;
        margin-left: -5px;
        transition: left 0.5s linear;
      }
    }
  }
}
