body {
  margin: 0;
}

player {
  padding: 10px;
  display: block;
  height: 100px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #e1e3e6;
  background-color: #fafbfc;
  width: 100%;
  box-sizing: border-box;

  .playControl {
    font-size: 22px;
    color: #546fa3;
    float: left;
    width: 100px;
  }

  .lengthSlider {
    padding: 9px;
    height: 22px;
    box-sizing: border-box;
    width: auto;
    overflow: hidden;
  }
}

slider {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;

  .sliderWrapper {
    height: 4px;
    position: relative;
    background-color: #CACACA;

    .buffered {
      position: absolute;
      top: 0;
      background-color: #b8c7d7;
      height: 100%;
      transition: width 0.5s linear;
    }

    .amount {
      position: absolute;
      top: 0;
      background-color: #577ca1;
      height: 100%;
      transition: width 0.5s linear;
    }

    .handler {
      top: 0;
      opacity: 0;
      height: 0;
      width: 0;
      transition: top 100ms linear, width 100ms linear, height 100ms linear, margin-left 100ms linear, opacity 160ms linear, left 500ms linear;
    }
  }

  &:hover {
    .sliderWrapper {
      .handler {
        opacity: 1;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #577ca1;
        position: absolute;
        top: -3px;
        margin-left: -5px;
      }
    }
  }
}
